version: 2
updates:
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: daily
    rebase-strategy: auto
    target-branch: master
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    rebase-strategy: auto
    target-branch: master
