name: CI

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Run format checks
        run: |
          uv run nox -s format_check

  type-check:
    name: Type-check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Run pyright
        run: |
          uv run nox -s typecheck

      - name: Verify type-completeness
        run: |
          uv sync --group typecheck --locked
          uv run pyright --verifytypes lightbulb --ignoreexternal

  slotscheck:
    name: Slotscheck
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Run slotscheck
        run: |
          uv run nox -s slotscheck

  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Run pytest
        run: |
          uv run --all-extras --group test pytest --cov lightbulb --cov-report=xml --junitxml=junit.xml tests

      - name: Upload coverage to CodeCov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
